@import url('https://fonts.googleapis.com/css2?family=Arima&family=Open+Sans:wght@300;400;600;700;800&display=swap');

$fontFamily: 'Arima', 'Open Sans', cursive, sans-serif;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$medium-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
$radius: 0.45rem;
$transition: all 0.55s linear;
$fontSize: 2rem;
$fontWeight: 700;
$logoColor: #eb3b5a;
$spacing: 0.2rem;
$yellowColor: #e3f461;
$yellowColor2: #fffb00;
$redColor: #f23f3f;
$navbarBgColor: #9cd4f6;