@import './sass/mixin';
@import './sass/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #D9DBE2;
  font-family: $fontFamily;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}